# Python virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Logs & Databases
app/logs/*.log
!app/logs/.gitkeep
*.db
*.sqlite3
chroma_db/

# IDE / Editor files
.vscode/
.idea/
*.swp

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store
